* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#container {
  padding: 20px;
}
#top-box {
  margin-bottom: 20px;
}
#filterWord {
  margin-left: 20px;
}
#manageWord {
  float: right;
}
#hg-to-top,  #hg-to-bottom{
  cursor: pointer;
  display: none;
  position: fixed;
  background-color: rgba(70, 70, 70, 0.5);
  z-index: 99;
  height: 30px;
  width: 30px;
  border-radius: 6px;
  bottom: 20px;
  right: 20px;
}
.hg-to-top-arrows {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 13px;
  left: 9px;
  transform: rotate(45deg);
}
.hg-to-bottom-arrows {
  display: inline-block;
  height: 12px;
  width: 12px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 7px;
  left: 9px;
  transform: rotate(-135deg);
}
.dropdown {
  display: inline-block;
}
